<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../../globalParts/header.ejs") %>
  <link rel="stylesheet" href="/style/adminDepartements.css">
    <title>Departements</title>
</head>
<body style="background-color: #FAFAFA;">
    <%- include("../parts/menus.ejs") %>
    <%- include("../../globalParts/messages.ejs") %>
    <%- include("../../globalParts/preload.ejs") %>
    <div class="container-fluid section-1 p-4">
      <div class="row">
        <div class="col-8 title">
          Departements:
        </div>
        <div class="col-4 text-end">
          <a class="btn btn-orange text-center" href="/departements/addNew">Ajouer</a>
        </div>
      </div>
    </div>
    <div class="container-fluid section-2 p-4 justify-content-center">
      <div class="row">
        <% if (typeof departements != undefined && departements.length != 0) { %>
            <% departements.forEach(item => { %>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-4 text-center">
                <a href="/departements/show/<%- item._id %>" class="item p-3">
                  <div class="icon pt-1 pb-1">
                    <i class="<%- item.icone %>"></i>
                  </div>
                  <div class="title pt-1 pb-1">
                    <%- item.label %>
                  </div>
                </a>
              </div>
            <% }) %>
        <% } %>
        
      </div>
    </div>
    
    <%- include("../../globalParts/footer.ejs") %>
</body>
</html>