<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../globalParts/header.ejs") %>
  <title>Dashbord</title>
</head>
<body>
  <%- include('../globalParts/preload.ejs') %>
  <%- include('../globalParts/messages.ejs') %>
  <%- include('../parts/menus.ejs') %>
  <%- include("../globalParts/footer.ejs") %>
</body>
</html>

