<%- include("../parts/header") %>
<%- include("../parts/menus.ejs") %>
<%- include("../parts/messages.ejs") %>

<form action="diplomes/deliveredMany" method="post">
    <input type="text" name="account" id="">
    <input type="text" id="filiere" name="filiere" value="<%- filiere %>">
    <input type="submit" value="valider tout">
</form>
<button onclick="sendData()" >send with ajax</button>
<% if (typeof diplomes != "undefined") { %>
    <% diplomes.forEach(diplome => {%>
        <%- Object.values(diplome); %>
    <% }); %>
<% } %>

<script>
    
</script>


<%- include("../parts/footer") %>
