<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../globalParts/header.ejs') %>
    <title>Document</title>
</head>
<body style="background-color: #FAFAFA;">
    <%- include('../../globalParts/preload.ejs') %>
    <%- include('../parts/menus.ejs') %>
    <%- include('../../globalParts/messages.ejs') %>



    <%- include('../../globalParts/footer.ejs') %>
</body>
</html>